/core/.env
/core/env
/venv/
__pycache__
*/__pycache__
/core/.vscode
.idea
__pycache__
*/__pycache__
__pycache__
*.pyc
/staticfiles/*
/core/db.sqlite3
/core/media
/core/home
.env
env

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*